
/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role CSS reset for older browsers */ 

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    padding: 2%;
    line-height: 20px;
}
/* Nav Bar CSS Style */

.plan-visit {
    background-color: #FF764E;
}

.learn {
    background-color: #5ED3EB;
}

.get-involved {
    background-color: #FFCD69;
}

nav {
    color: white;
    display: flex;
    justify-content: space-around;
}
a {
    padding: 2%;
    text-align: center;
    text-decoration: none;
}
a:visited {
    color: white;
}
/* About Us CSS Style */

.about-us {
  display: flex;
  padding: 5%;
  text-align: center;
  justify-content: space-evenly;
}
h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 40px;
    
}

.mountain-image {
    border-radius: 50%;
    width: 25%;
}


/* Main Article CSS Style */
p, nav {
    font-family: 'Roboto Mono', monospace;
    
}

.bold {
    font-weight: 700;
}
.main-section {
    background-color: #DDB9A3;
}

/* Footer CSS Style */

footer {
    background-color: #F9E7DC;
}